<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Issues for <%= @project.title %></h1>
    <div>
      <%= link_to 'New Issue', new_project_issue_path(@project), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" %>
      <%= link_to 'View Reports', reports_project_issues_path(@project), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2" %>
      <%= link_to 'Back to Project', project_path(@project), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>

  <%= render 'issue_list', issues: @issues %>
</div>